/* General */
h1, h2, h3, h4 {
  font-family: hobo-std,sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


/* Navbar */
.navbar {
  background-color: orange;
}

.logo{
  width: 8em;
  height: auto;
  position : absolute;
  top : 5px;
}

[alt="pizzalogo"] { 
  width: 6em;
  height: auto;
 }

 .nav-link {
  font-family: hobo-std,sans-serif;
  font-weight: 400;
  font-style: normal; 
 }

/* Splash */
.jumbotron {
    background-image: url("./img/pizza3.jpg");
    padding: 18em 0 18em 0;
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
  }

/* Menu */
#pizza-col {
  background-color: orange;
}

#beer-col {
  background-color: brown;
  color: white;
}

h2 {
font-family: hobo-std,sans-serif;
font-weight: 400;
font-style: normal;
}

#menu-container {
  background-color: brown;
}
  

  /* About Section */
#about-container {
  background-color: yellow;
}

#reece {
	width: 50px;
	height: auto;
}

#about-text-container {
  justify-content: center;
  align-items: center;
}

/* Contact Section */
#contact-container {
  background-color: orange;
}

/* Footer */
#footer-btt {
  display: flex;
  justify-content: flex-end;
}

#footer-link {
  color: yellow;
}

footer {
  background-color: brown;
}

/* font-family: hobo-std,sans-serif;
font-weight: 400;
font-style: normal; */